mixin recover
  .recover-form
    h2.text-center Recover Form
    .form-bg
      form.recover
        .form-group
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-envelope
            input(type="email" class="form-control" placeholder="Enter Your Email")
        .form-group
          .input-group
            span.input-group-addon
              span.glyphicon.glyphicon-phone
            input(type="tel" class="form-control" placeholder="Your Email")
        +buttons('btn-success', 'btn-success', 'Send', 'Done')